
body {
  margin: 0;
  background-color: #eaeaea;
  display: grid;
  height: 100vh;
  place-items: center;
  /* font-family: 'Source Sans Pro', sans-serif; */
} 
.item {
  opacity: .8;
  font-weight: 600;
  font-size: 13px;
  margin-left: 3px;
}
.leaderboard {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
 
}

.value {
  color: #35d8ac;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}